<div>
    <img src="https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-food-festival-gourmet-small-fresh-texture-brown-background-image_144538.jpg" width="600">
</div>      


<div class="design">
    <table>
        <tr class="nav">
            <td><a routerLink="menu">Menu</a></td>
            <td><a routerLink="aboutus">About</a></td>
            <td><a routerLink="contact">Contact</a></td>
        </tr>
    </table>
</div>



<div>
    <h1>Crissix Foods</h1>
</div>

<p>"It is our sole desire that everything, and we mean everything, that arrives at your table will delight you. 
To that end, we use only the finest, freshest ingredients, masterfully prepared in recipes designed to engage all of your senses."</p>

