
<h1>About Us:</h1>

<p>We pride ourselves on making healthier versions of your favorite food, giving you easy access to the food you love, without any guilt.</p>


<table>
    <tr>
        <td><img src="http://media.istockphoto.com/photos/chefs-are-preparing-salads-picture-id517850196?k=6&m=517850196&s=612x612&w=0&h=4oh4HdOL1_dv-Sa_XU3pyevdC3V6-DVRX6r1Y1826J0="></td>
        <td>
        <h2>Our Story</h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
        <td><img src="http://media.istockphoto.com/photos/chefs-are-preparing-salads-picture-id517850196?k=6&m=517850196&s=612x612&w=0&h=4oh4HdOL1_dv-Sa_XU3pyevdC3V6-DVRX6r1Y1826J0="></td>
    </tr>
</table>
